Source: log
Maintainer: Menucha Team <info@menucha.de>
Build-Depends: debhelper, golang:native, git, crossbuild-essential-armhf:all, libc6

Package: log
Architecture: any
Depends: ${shlibs:Depends}
Description: Log Service
